@import "../../utilities/_variables.scss";

.application {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  & > .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    & > .sidebar {
      height: 100%;
      min-width: 315px;
      background-color: $darker;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      & > * {
        width: calc(100% - 40px);
        height: 56px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
      }
      & > .active {
        background-color: $super_dark;
        & > .name {
          color: #fff !important;
        }
      }
      & > .item {
        cursor: pointer;
        display: flex;
        & > .icon {
          min-width: 65px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        & > .name {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          margin-left: 6px;
          color: #797979;
        }
      }
      & > .server {
        margin-top: 24px;
        display: flex;
        align-items: center;
        & > .icon {
          min-width: 48px;
          height: 48px;
          background-color: $dark;
          border-radius: 100%;
        }
        & > .name {
          color: #fff;
          margin-left: 17px;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
    }
    & > .playground {
      height: 100%;
      width: 100%;
      background-color: $dark;
    }
  }
}
